@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&family=Outfit&family=Prosto+One&family=Red+Hat+Display:wght@500&display=swap');

:root {
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);

    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html, body {
    height: 100%;
}

img {
    display: block;
    max-width: 100%;
}

p, h1 {
    overflow-wrap: break-word;
    font-family: 'Red Hat Display', sans-serif;
}

body {
    min-height: 100vh;
    display: grid;
    place-content: center;
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: 100% 50%;
    background-color: var(--Pale-blue);
}

#card-component {
    background-color: white;
    width: 400px;
    height: 590px;
    border-radius: 20px;
    box-shadow: 0px 11px 15px rgba(73, 73, 172, 0.192);
}

.illustration-hero {
    border-radius: 20px 20px 0 0;
    padding-bottom: 30px;
}

#description {
    text-align: center;
}

h1 {
    padding-bottom: 15px;
    font-weight: 900;
}

.tagline {
    padding-bottom: 25px;
    color: var(--Desaturated-blue);
}

#tag-line-div {
    width: 300px;
    display: inline-flex;
}

button {
    padding: 15px 100px;
    border-radius: 7px;
    border: none;
    background-color: var(--Bright-blue);
    color: white;
    box-shadow: 0px 10px 10px 5px rgba(15, 11, 247, 0.158);
    font-weight: 700;
}

.cancel {
    padding-top: 25px;
}

p {
    font-size: 1em;
}

.sub-plan {
    display: inline-flex;
    width: 330px;
    height: 70px;
    background-color: var(--Very-pale-blue);
    margin-bottom: 20px;
    border-radius: 10px;
}

.music-icon {
    block-size: 40px;
    margin-top: 14px;
    margin-left: 20px;
}

.plan {
    display: flex;
    padding-top: 13px;
}

.subscription {
    inline-size: 150px;
    padding-right: 25px;
}

.change {
    padding-top: 23px;
    padding-left: 40px;
    font-weight: 700;
}

.annual {
    color: var(--Dark-blue);
    font-weight: 700;
}

.price {
    color: var(--Desaturated-blue);
}

.cancel {
    font-weight: 700;
    color: var(--Desaturated-blue);
}

button:hover {
    background-color: rgba(55, 13, 153, 0.678);
    cursor: pointer;
}

a:hover {
    text-decoration: none;
    color: rgba(55, 13, 153, 0.678);
}

.cancel:hover {
    cursor: pointer;
    color: #000;
}

@media (max-width: 375px) {
    #card-component {
        width: 330px;
        height: 540px;
    }

    p {
        font-size: .9em;
    }

    h1 {
        font-size: 1.4em;
    }

    #tag-line-div {
        width: 247px;
    }

    .sub-plan {
        width: 290px;
    }

    .change {
        padding-left: 7px;
    }

    button {
        padding: 20px 78px;
        border-radius: 13px;
    }
}